[Unit]
Description=OptoCam Gallery Web Server
After=optocam-hotspot.service

[Service]
Type=simple
User=root
ExecStart=/usr/bin/python3 /home/dkumkum/gallery_server.py
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
